{{#topLevelType}}
package {{type.enclosingTypeOrPackage}};

{{^constants}}
import com.ppdai.codegen.demo.wire.demo.swagger.Tag;
{{/constants}}
{{#relationTypes}}
import {{type}};
{{/relationTypes}}

{{^constants}}
public class {{name}}{

    {{#fields}}
    @Tag({{tag}})
    private {{#javaClassName}}{{type.simpleName}}{{/javaClassName}} {{name}};

    {{/fields}}

}
{{/constants}}

{{^fields}}
public enum {{name}}{
    {{#constants}}
    {{name}}({{tag}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/constants}}

    private int value;

    Period(int value){
        this.value = value;
    }
}
{{/fields}}
{{/topLevelType}}

