
{{^constants}}
    public static class {{name}}{

    {{#fields}}
        @Tag({{tag}})
        private {{#label}}Lis<{{/label}}{{#javaClassName}}{{type.simpleName}}{{/javaClassName}}{{#label}}>{{/label}} {{name}};

    {{/fields}}
    {{#nestedTypes}}
        {{> nestMessage}}
    {{/nestedTypes}}
    }
{{/constants}}

{{#constants.size}}
    public enum {{name}}{
    {{#constants}}
        {{name}}({{tag}}){{^-last}},{{/-last}}{{#-last}};{{/-last}}
    {{/constants}}

        private int value;

        Period(int value){
            this.value = value;
        }
    }
{{/constants.size}}

